{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   {% block header %}
   <script src="{% static 'cart/cart.js' %}" defer></script>
   <title>Photogen - Shopping cart</title>
   {% endblock %}
</head>
<body>
   {% block content %}
   <div class="cont-s">
      <main>
         <div class="section-2s">
            <div class="cart">
               <div class="cart-title">
                  <h1>SHOPPING CART</h1>
                  <h3 class="cart-title-id">ID: 258751689</h3>
                  <div class="cart-sep1"></div>
               </div>
               {% for item in items %}
               <div class="cart-product">
                  <div class="cart-product1">
                     <img src="{{ item.product.imageURL }}" alt="a Product image" class="cart-img">
                  </div>
                  <div class="cart-product2">
                     <p>{{ item.product.name }}</p>
                     <h3>in stock</h3>
                     <h2>${{ item.product.price|floatformat:2 }}</h2>
                  </div>
                  <div class="cart-product3">
                     <div class="cart-product-container">
                        <h4 id="cart-product-ammount">{{ item.quantity }}</h4>
                        <div class="cart-product-arrows">
                           <img data-product="{{ item.product.id }}" data-action="add" src="{% static 'imgs/Svg/arrow-up.png' %}" alt="an arrow" class="cart-arrow update-cart">
                           <img data-product="{{ item.product.id }}" data-action="remove" src="{% static 'imgs/Svg/arrow-down.png' %}" alt="an arrow" class="cart-arrow update-cart">
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
               <div class="cart-product-d">
                  {% for item in items %}
                  <div class="cart-product1-d">
                     <img src="{{ item.product.imageURL }}" alt="a Product image" class="cart-img">
                  </div>
                  <div class="cart-product2-d">
                     <p>{{ item.product.name }}</p>
                  </div>
                  <div class="cart-product3-d">
                     <div class="cart-product-container">
                        <h4 id="cart-product-ammount">{{ item.quantity }}</h4>
                        <div class="cart-product-arrows">
                           <img data-product="{{ item.product.id }}" data-action="add" class="cart-arrow update-cart" src="{% static 'imgs/Svg/arrow-up.png' %}" alt="an arrow" class="cart-arrow">
                           <img data-product="{{ item.product.id }}" data-action="remove" class="cart-arrow update-cart" src="{% static 'imgs/Svg/arrow-down.png' %}" alt="an arrow">
                        </div>
                     </div>
                     <h3>in stock</h3>
                  </div>
                  <div class="cart-product4-d">
                     <h2>${{ item.product.price|floatformat:2 }}</h2>
                  </div>
                  {% endfor %}
               </div>
               <div class="cart-sep2-p-d">
                  <div class="cart-sep2-d"></div>
               </div>
               <p class="coupon-alert">Invalid coupon. Please try again.</p>
               <div class="cart-coupon">
                  <img src="{% static 'imgs/Svg/delete.svg' %}" alt="a cross" class="coupon-del">
                  <input type="text" name="coupon" id="cart-coupon-input" placeholder="Coupon">
                  <button type="submit">Apply</button>
               </div>
               <div class="cart-sep3-p">
                  <div class="cart-sep3"></div>
               </div>
               <div class="cart-recap">
                  <h1 class="c-recap-total">Total: <span class="c-recap-amm">$59.99</span></h1>
                  <div class="cart-sep4"></div>
                  <button type="button">Checkout</button>
                  <div class="privacy-policy">
                     <input type="checkbox" name="privacy" id="c-privacy" required>
                     <p>By checking this box, I agree to the <span class="privacy-link1">Privacy Policy</span> and <span class="privacy-link2">Lorem ipsum</span>.</p>
                  </div>
               </div>
               <div class="cart-finish-d">
                  <div class="cart-coupon-d">
                     <img src="{% static 'imgs/Svg/delete.svg' %}" alt="a cross" class="coupon-del">
                     <input type="text" name="coupon" id="cart-coupon-input" placeholder="Coupon">
                     <button type="submit">Apply</button>
                  </div>
                  <div class="cart-recap-d">
                     <h1 class="c-recap-total">Total: <span class="c-recap-amm">$59.99</span></h1>
                     <div class="cart-sep4"></div>
                     <button type="button">Checkout</button>
                     <div class="privacy-policy">
                        <input type="checkbox" name="privacy" id="c-privacy" required>
                        <p>By checking this box, I agree to the <span class="privacy-link1">Privacy Policy</span> and <span class="privacy-link2">Lorem ipsum</span>.</p>
                     </div>
                  </div>
               </div>
               <div class="c-continue">
                  <img src="{% static 'imgs/Svg/c-shopping.svg' %}" alt="an arrow" class="c-continue-arrow">               
                  <h2>Continue Shopping</h2>
               </div>
            </div>
         </div>
      </main>
   </div>

   <script>
      function updating_cart() {
         let updateBtns = document.querySelectorAll(".update-cart")
      
         for(let i = 0; i < updateBtns.length; i++){
          updateBtns[i].addEventListener("click", function() {
            let productId = this.dataset.product
            let action = this.dataset.action
            console.log("ProductId", productId, "Action", action)
      
            if(user === "AnonymousUser"){
               console.log("Not logged in")
            }
            else{
               updateUserOrder(productId, action)
              }
          })
          }
      
          function updateUserOrder(productId, action){
            console.log("User is logged in, sending data...")
      
            let url = "/update_item/"
      
            fetch(url, {
               method: "POST",
               headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": csrftoken
               },
               body: JSON.stringify({"productId": productId, "action": action})
            })
            .then((response) => {
               return response.json()
            })
            .then((data) => {
               console.log("Data", data)
               location.reload()
            })
         }
      }

      updating_cart()
   </script>
   {% endblock %}
</body>
</html>