{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   {% block header %}
   <script src="{% static 'cart/checkout.js' %}" defer></script>
   <title>Photogen - Checkout</title>
   {% endblock %}
</head>
<body>
   {% block content %}
   <div class="cont-f">
      <main>
         <div class="section-2f">
            <div class="checkout-title">
               <h1>Checkout</h1>
            </div>
            <div class="checkout-title-sep"></div>
            <div class="checkout-m">
               <div class="checkout-right">
                  <div class="checkout-recap-title">
                     <h1>Order Summary</h1>
                     <h3 class="checkout-id">ID: 258751689</h3>
                     <div class="checkout-right-sep1"></div>
                  </div>
                  <div class="checkout-summary-items">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="checkout-img">
                     <h2>Name</h2>
                     <h3>$69.99</h3>
                  </div>
                  <div class="checkout-right-sep2"></div>
                  <div class="checkout-summary-items">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="checkout-img">
                     <h2>Name</h2>
                     <h3>$69.99</h3>
                  </div>
                  <div class="checkout-right-sep2"></div>
                  <div class="checkout-price">
                     <h2 class="checkout-total">Items: 1</h2>
                     <h2 class="checkout-total-price">Total $99.99</h2>
                  </div>
               </div>
               <div class="checkout-left">
                  <div class="checkout-input">
                     <h1>Shipping info</h1>
                     <input type="text" name="address 1" id="checkout-address1" placeholder="Address Line" required>
                     <div class="checkout-city">
                        <input type="text" name="state" id="checkout-state" placeholder="State" required>
                        <input type="text" name="city" id="checkout-city" placeholder="City" required>
                     </div>
                     <div class="checkout-zip">
                        <input type="number" name="zip" id="checkout-zip" placeholder="Zip Code" required>
                        <input type="text" name="country" id="checkout-country" placeholder="Country" required>
                     </div>
                     <button type="submit" class="checkout-button">Continue</button>
                  </div>
               </div>
            </div>
            <div class="checkout-d">
               <div class="checkout-left">
                  <div class="checkout-input">
                     <h1>Shipping info</h1>
                     <input type="text" name="address 1" id="checkout-address1" placeholder="Address Line" required>
                     <div class="checkout-city">
                        <input type="text" name="state" id="checkout-state" placeholder="State" required>
                        <input type="text" name="city" id="checkout-city" placeholder="City" required>
                     </div>
                     <div class="checkout-zip">
                        <input type="number" name="zip" id="checkout-zip" placeholder="Zip Code" required>
                        <input type="text" name="country" id="checkout-country" placeholder="Country" required>
                     </div>
                     <button type="submit" class="checkout-button">Continue</button>
                  </div>
               </div>
               <div class="checkout-right">
                  <div class="checkout-recap-title">
                     <h1>Order Summary</h1>
                     <h3 class="checkout-id">ID: 258751689</h3>
                     <div class="checkout-right-sep1"></div>
                  </div>
                  <div class="checkout-summary-items">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="checkout-img">
                     <h2>Name</h2>
                     <h3>$69.99</h3>
                  </div>
                  <div class="checkout-right-sep2"></div>
                  <div class="checkout-summary-items">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="checkout-img">
                     <h2>Name</h2>
                     <h3>$69.99</h3>
                  </div>
                  <div class="checkout-right-sep2"></div>
                  <div class="checkout-price">
                     <h2 class="checkout-total">Items: 1</h2>
                     <h2 class="checkout-total-price">Total $99.99</h2>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer>
         <div class="section-7f">
            <div class="footer">
               <div class="f-info">
                  <h1 class="f-address">Address: 215, Rough st, ag21 h4g</h1>
                  <h1 class="f-phone">0653 354 6568</h1>
                  <h1 class="f-email">Photogen@gmail.com</h1>
               </div>
               <div class="f-other">
                  <h1 class="f-imgs">Images from Pexel/Unsplashed</h1>
                  <h1 class="f-fonts">Icons from Fontawsome</h1>
                  <h1 class="f-copy">Copyright © 2020 Photogen</h1>
               </div>
               <div class="f-socials">
                  <a href="#"><img src="{% static 'imgs/Svg/facebook-brands (1).svg' %}" alt="facebook icon" class="f-fb"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/twitter-brands (1).svg' %}" alt="twitter icon" class="f-twitter"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/instagram-brands (1).svg' %}" alt="instagram icon" class="f-ig"></a>
               </div>
            </div>
         </div>
      </footer>
   </div>
   {% endblock %}
</body>
</html>