{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block header %}
   <title>Photogen - Contact Us</title>
   {% endblock %}
</head>
<body>
   {% block content %}
   <div class="cont-g">
      <section>
         <div class="section-2g">
            <div class="lp-g">
               <h1>Contact Us</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus deserunt illum tempore? Vitae?</p>
               <img src="{% static 'imgs/Svg/scroll.svg' %}" alt="a scroll icon" class="lp-g-scroll">
               <img src="{% static 'imgs/Png/contact-img-min.png' %}" alt="a camera" class="lp-g-img">
            </div>
         </div>
      </section>
      <section>
         <div class="section-3g">
            <div class="contact">
               <div class="c-info">
                  <h1 class="c-title">Send A Message</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus deserunt illum tempore? Vitae?</p>
               </div>
               <div class="info-form-container">
                  <div class="contact-info-container">
                     <div class="c-phone-p">
                        <img src="{% static 'imgs/Svg/phone-alt-solid (2).svg' %}" alt="a phone" class="c-phone">
                        <h2>0653 354 6568</h2>
                     </div>
                     <div class="c-email-p">
                        <img src="{% static 'imgs/Svg/envelope-solid (1).svg' %}" alt="an envelope" class="c-env">
                        <h2>Photogen@gmail.com</h2>
                     </div>
                     <div class="c-address-p">
                        <img src="{% static 'imgs/Svg/map-marker-alt-solid (2).svg' %}" alt="a map marker" class="c-map">
                        <h2>215, Rough st, ag21 h4g</h2>
                     </div>
                  </div>
                  <div class="c-input">
                     <form method="POST" id="form">
                        {% csrf_token %}
                        {{ contact }}
                        <button type="submit">Send Message</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="section-4g">
            <div class="footer">
               <div class="f-info">
                  <h1 class="f-address">Address: 215, Rough st, ag21 h4g</h1>
                  <h1 class="f-phone">0653 354 6568</h1>
                  <h1 class="f-email">Photogen@gmail.com</h1>
               </div>
               <div class="f-other">
                  <h1 class="f-imgs">Images from Pexel/Unsplashed</h1>
                  <h1 class="f-fonts">Icons from Fontawsome</h1>
                  <h1 class="f-copy">Copyright © 2020 Photogen</h1>
               </div>
               <div class="f-socials">
                  <a href="#"><img src="{% static 'imgs/Svg/facebook-brands (1).svg' %}" alt="facebook icon" class="f-fb"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/twitter-brands (1).svg' %}" alt="twitter icon" class="f-twitter"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/instagram-brands (1).svg' %}" alt="instagram icon" class="f-ig"></a>
               </div>
            </div>
         </div>
      </footer>
   </div>

   <script>
      const burger = document.querySelector(".burger-menu");
      const burgerMenu = document.querySelector(".nav-menu");

      burger.addEventListener("click", () => {
         burger.classList.toggle("burger-open");
         burgerMenu.classList.toggle("openM");

         if (burger.classList !== "burger-open") {
            productsMenu.classList.remove("products-open");
         }

         if (window.scrollY < 1) {
            nav.classList.toggle("scroll-nav");
         }
      });

      const signIn = document.querySelector(".sign-in");
      const signInLink = document.getElementById("sign-in-link");
      const signInImg = document.querySelector(".account-img");
      const signInBack = document.querySelector(".sign-in-back");
      const signUpBtn = document.querySelector(".sign-ing-button");
      const signUp = document.querySelector(".sign-up2");
      const signUpBack = document.querySelector(".sign-up-back");
      const signInButton = document.querySelector(".sign-up-button");

      signInLink.addEventListener("click", () => {
         signIn.classList.toggle("sign-in-active");
      });

      signInImg.addEventListener("click", () => {
         signIn.classList.toggle("sign-in-active");
      });

      signInBack.addEventListener("click", () => {
         signIn.classList.remove("sign-in-active");
      });

      signUpBtn.addEventListener("click", () => {
         signUp.classList.add("sign-up-active");
         signIn.classList.remove("sign-in-active");
      });

      signUpBack.addEventListener("click", () => {
         signUp.classList.remove("sign-up-active");
      });

      signInButton.addEventListener("click", () => {
         signIn.classList.add("sign-in-active");
         signUp.classList.remove("sign-up-active");
      });
   </script>
   {% endblock %}
</html>