{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block header %}
   <title>Photogen - Accessories</title>
   {% endblock %}
</head>
<body>
   {% block content %}
   <div class="cont-a">
      <section>
         <div class="section-2a">
            <div class="lp-a">
               <h1>Accessories</h1>
               <p>Cameras + Drones...</p>
               <img src="{% static 'imgs/Svg/scroll.svg' %}" alt="a scroll icon" class="lp-a-scroll">
               <img src="{% static 'imgs/Png/products-img-min.png' %}" alt="a camera img" class="lp-a-img">
            </div>
         </div>
      </section>
      <section>
         <div class="section-3a">
            <div class="products">
               <div class="products-search">
                  <input type="text" name="search" class="search-bar" placeholder="Search">
                  <img src="{% static 'imgs/Svg/delete.svg' %}" alt="delete icon" class="delete">
                  <button type="submit" class="search-button">Search</button>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card">
                  <div class="product-img-p">
                     <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                  </div>
                  <div class="product-info">
                     <h1>Product Name</h1>
                     <h3>$299</h3>
                  </div>
               </div>
               <div class="product-card-d-p">
                  <div class="products-card-d-column">
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                  </div>
                  <div class="products-card-d-column">
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                  </div>
                  <div class="products-card-d-column">
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                     <div class="product-card-d">
                        <div class="product-img-p">
                           <img src="{% static 'imgs/Png/camera-product-min.png' %}" alt="a camera" class="product-img">
                        </div>
                        <div class="product-info">
                           <h1>Product Name</h1>
                           <h3>$299</h3>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="pagination">
                  <img src="{% static 'imgs/Svg/caret-left-solid.svg' %}" alt="an arrow" class="pag-left">
                  <h3>1</h3>
                  <h3>2</h3>
                  <h3>3</h3>
                  <h3>...</h3>
                  <img src="{% static 'imgs/Svg/caret-right-solid.svg' %}" alt="an arrow" class="pag-right">
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="section-4a">
            <div class="footer">
               <div class="f-info">
                  <h1 class="f-address">Address: 215, Rough st, ag21 h4g</h1>
                  <h1 class="f-phone">0653 354 6568</h1>
                  <h1 class="f-email">Photogen@gmail.com</h1>
               </div>
               <div class="f-other">
                  <h1 class="f-imgs">Images from Pexel/Unsplashed</h1>
                  <h1 class="f-fonts">Icons from Fontawsome</h1>
                  <h1 class="f-copy">Copyright © 2020 Photogen</h1>
               </div>
               <div class="f-socials">
                  <a href="#"><img src="{% static 'imgs/Svg/facebook-brands (1).svg' %}" alt="facebook icon" class="f-fb"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/twitter-brands (1).svg' %}" alt="twitter icon" class="f-twitter"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/instagram-brands (1).svg' %}" alt="instagram icon" class="f-ig"></a>
               </div>
            </div>
         </div>
      </footer>
   </div>
   {% endblock %}
</body>
</html>