{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block header %}
   <script src="{% static 'product/list.js' %}" defer></script>
   <title>Photogen - Product Name</title>
   {% endblock %}
</head>
<body>
   {% block content %}
   <div class="cont-p">
      <section>
         <div class="section-2p">
            <div class="lp-p">
               <img src="{{ product.imageURL }}" alt="a camera" class="lp-p-img">
               <div class="lp-p-info">
                  <div class="lp-p-1">
                     <h1>{{ product.name|title }}</h1>
                     <h2>${{ product.price|floatformat:2 }}</h2>
                     <button class="update-cart" data-product="{{ product.id }}" data-action="add" type="button">Add To Cart</button>
                  </div>
                  <div class="lp-p-sep"></div>
                  <div class="lp-p-2">
                     <div class="lp-p-first-link">
                        <h3 class="lp-p-link1">Specifications</h3>
                        <img src="{% static 'imgs/Svg/product-goto.svg' %}" alt="an arrow" class="lp-p-goto1">
                     </div>
                     <div class="lp-p-sec-link">
                        <h3 class="lp-p-link2">Reviews</h3>
                        <img src="{% static 'imgs/Svg/product-goto.svg' %}" alt="an arrow" class="lp-p-goto2">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="section-3p">
            <div class="quality">
               <h1>Excellent Quality & Price</h1>
               <div class="quality-sep"></div>
               <p>{{ product.detail_one }}</p>
               <button type="button" class="quality-button">Our Reviews</button>
            </div>
         </div>
      </section>
      <section>
         <div class="section-4p">
            <div class="details">
               <h1>{{ product.title_one|title }}</h1>
               <div class="details-sep"></div>
               <p>{{ product.detail_two }}</p>
               <img src="{{ product.imageURL }}" alt="a camera" class="details-img">
            </div>
         </div>
      </section>
      <section>
         <div class="section-5p">
            <div class="battery-p">
               <div class="battery">
                  <h1>{{ product.title_two|title }}</h1>
                  <div class="battery-sep"></div>
                  <p>{{ product.detail_three }}</p>
                  <img src="{{ product.imageURL }}" alt="a camera" class="battery-img">
               </div>
               <div class="battery-img-p">
                  <img src="{{ product.imageURL }}" alt="a camera" class="battery-img-d">
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="section-6p">
            <div class="specs">
               <div class="specs-title-p">
                  <h1 class="specs-title">Specifications</h1>
                  <div class="specs-sep"></div>
               </div>
               <div class="specs-1">
                  <div class="specs-1-1line">
                     <h1 class="specs-1a">{{ product.weight }} Grams</h1>
                     <h3 class="specs-1b">Weight</h3>
                  </div>
                  <div class="specs-1-sep1"></div>
                  <div class="specs-1-2line">
                     <h1 class="specs-1c">{{ product.spec_type }}</h1>
                     <h3 class="specs-1d">Type</h3>
                  </div>
                  <div class="specs-1-sep2"></div>
                  <div class="specs-1-2line">
                     <h1 class="specs-1e">Super CCD</h1>
                     <h3 class="specs-1f">Sensor</h3>
                  </div>
               </div>
               <div class="specs-sep1-b"></div>
               <div class="specifications-grid">
                  <div class="specs-2">
                     <h1 class="specs-title2">Physical Specifications</h1>
                     <h2 class="specs-2a">Height: {{ product.height }}mm</h2>
                     <div class="specs-2-sep1"></div>
                     <h2 class="specs-2b">Width: {{ product.width }}mm</h2>
                     <div class="specs-2-sep2"></div>
                     <h2 class="specs-2c">Depth: {{ product.depth }}mm</h2>
                     <div class="specs-2-sep3"></div>
                     <h2 class="specs-2d">Weight: {{ product.weight }}g</h2>
                     <div class="specs-2-sep4"></div>
                  </div>
                  <div class="specs-3">
                     <h1 class="specs-title3">Technical Specifications</h1>
                     <h2 class="specs-3a">{{ product.spec_type }} Camera</h2>
                     <div class="specs-3-sep1"></div>
                     <h2 class="specs-3b">Pixels: {{ product.pixels }} Megapixels</h2>
                     <div class="specs-3-sep2"></div>
                     <h2 class="specs-3c">Aspect Ratio: {{ product.aspect_ratio }} (Horizontal:Vertical)</h2>
                     <div class="specs-3-sep3"></div>
                     <h2 class="specs-3d">Color Filter System: {{ product.colour_filter }}</h2>
                     <div class="specs-3-sep4"></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="section-7p">
            <div class="test">
               <img src="{% static 'imgs/Svg/quote-left.svg' %}" alt="a quote" class="test-q-l">
               <img src="{% static 'imgs/Svg/quote-right.svg' %}" alt="a quote" class="test-q-r">
               <img src="{% static 'imgs/Svg/image.svg' %}" alt="an image" class="test-img">
               <p>Erat nam at lectus urna duis convallis convallis tellus id interdum velit laoreet id donec ultrices tincidunt arcu non sodales neque. Deneeb donec ultrices tellus id.</p>
               <h3>- Liam Smith</h3>
            </div>
         </div>
      </section>
      <section>
         <div class="section-8p">
            <div class="other">
               <h1 class="other-title">Similar Products</h1>
               <div class="other-sep"></div>
               <div class="other-p">
                  <div class="other-product1-p">
                     <img src="{% static 'imgs/Svg/Similar-img.svg' %}" alt="a product" class="other-img1">
                     <div class="other-product1">
                        <h1>Name</h1>
                        <p>SLIM FOLIO - iPad (7th and 8th gen) - Graphite - Suisse</p>
                        <h2>$69.99</h2>
                     </div>
                  </div>
                  <div class="other-product2-p">
                     <img src="{% static 'imgs/Svg/Similar-img.svg' %}" alt="a product" class="other-img2">
                     <div class="other-product2">
                        <h1>Name</h1>
                        <p>SLIM FOLIO - iPad (7th and 8th gen) - Graphite - Suisse</p>
                        <h2>$69.99</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="section-9p">
            <div class="footer">
               <div class="f-info">
                  <h1 class="f-address">Address: 215, Rough st, ag21 h4g</h1>
                  <h1 class="f-phone">0653 354 6568</h1>
                  <h1 class="f-email">Photogen@gmail.com</h1>
               </div>
               <div class="f-other">
                  <h1 class="f-imgs">Images from Pexel/Unsplashed</h1>
                  <h1 class="f-fonts">Icons from Fontawsome</h1>
                  <h1 class="f-copy">Copyright © 2020 Photogen</h1>
               </div>
               <div class="f-socials">
                  <a href="#"><img src="{% static 'imgs/Svg/facebook-brands (1).svg' %}" alt="facebook icon" class="f-fb"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/twitter-brands (1).svg' %}" alt="twitter icon" class="f-twitter"></a>
                  <a href="#"><img src="{% static 'imgs/Svg/instagram-brands (1).svg' %}" alt="instagram icon" class="f-ig"></a>
               </div>
            </div>
         </div>
      </footer>
   </div>

   <script>
      const burger = document.querySelector(".burger-menu");
      const burgerMenu = document.querySelector(".nav-menu");

      burger.addEventListener("click", () => {
         burger.classList.toggle("burger-open");
         burgerMenu.classList.toggle("openM");

         if (burger.classList !== "burger-open") {
            productsMenu.classList.remove("products-open");
         }

         if (window.scrollY < 1) {
            nav.classList.toggle("scroll-nav");
         }
      });

      const products = document.querySelector(".link-products");
         const productsMenu = document.querySelector(".nav-products")
   
         products.addEventListener("click", () => {
            productsMenu.classList.toggle("products-open");
         });
   
         const goBack = document.querySelector(".nav-back");
   
         goBack.addEventListener("click", () => {
            productsMenu.classList.remove("products-open");
         });

         const signIn = document.querySelector(".sign-in");
         const signInLink = document.getElementById("sign-in-link");
         const signInImg = document.querySelector(".account-img");
         const signInBack = document.querySelector(".sign-in-back");
         const signUpBtn = document.querySelector(".sign-ing-button");
         const signUp = document.querySelector(".sign-up2");
         const signUpBack = document.querySelector(".sign-up-back");
         const signInButton = document.querySelector(".sign-up-button");

         signInLink.addEventListener("click", () => {
            signIn.classList.toggle("sign-in-active");
         });

         signInImg.addEventListener("click", () => {
            signIn.classList.toggle("sign-in-active");
         });

         signInBack.addEventListener("click", () => {
            signIn.classList.remove("sign-in-active");
         });

         signUpBtn.addEventListener("click", () => {
            signUp.classList.add("sign-up-active");
            signIn.classList.remove("sign-in-active");
         });

         signUpBack.addEventListener("click", () => {
            signUp.classList.remove("sign-up-active");
         });

         signInButton.addEventListener("click", () => {
            signIn.classList.add("sign-in-active");
            signUp.classList.remove("sign-up-active");
         });

         function updating_cart() {
            let updateBtns = document.querySelectorAll(".update-cart")
         
            for(let i = 0; i < updateBtns.length; i++){
             updateBtns[i].addEventListener("click", function() {
               let productId = this.dataset.product
               let action = this.dataset.action
               console.log("ProductId", productId, "Action", action)
         
               if(user === "AnonymousUser"){
                  console.log("Not logged in")
               }
               else{
                  updateUserOrder(productId, action)
                 }
             })
             }
         
             function updateUserOrder(productId, action){
               console.log("User is logged in, sending data...")
         
               let url = "/update_item/"
         
               fetch(url, {
                  method: "POST",
                  headers: {
                     "Content-Type": "application/json",
                     "X-CSRFToken": csrftoken
                  },
                  body: JSON.stringify({"productId": productId, "action": action})
               })
               .then((response) => {
                  return response.json()
               })
               .then((data) => {
                  console.log("Data", data)
                  location.reload()
               })
            }
         }
   
         updating_cart()
   </script>
   {% endblock %}
</body>
</html>